box-shadow-1()
    -webkit-box-shadow: arguments
    -moz-box-shadow: arguments
    box-shadow: arguments

box-shadow-2(offset-x)
    got-offset-x: offset-x
    -webkit-box-shadow: offset-x arguments
    -moz-box-shadow: offset-x arguments
    box-shadow: offset-x arguments

.body
    box-shadow-1: 1px 2px 5px #eee

.body
    box-shadow-2: 2px 5px #eee